.footer {
  background: #f8f8f8;
  padding-top: 15px;
  color: $primary;

  &__tags {
    display: flex;
    flex-wrap: wrap-reverse;
  }
  &__tag {
    display: block;
    padding: 0px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    border: solid 1px #e8e8e8;

    &:hover {
      color: #3e6d8e;
      background-color: #dae6ef;
      border: 1px solid #dae6ef;
      text-decoration: none;
    }
  }
}
